@charset "UTF-8";

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.content{
	display: grid;
	grid-template-areas:
		't o';
	grid-template-columns: repeat(2, 1fr);
	column-gap: 0px;
	row-gap: 10px;
	align-content: center;
	align-items: stretch;
}

.map_wrap{
	grid-area:t;
}

.form{
	grid-area:o;
	margin-left: 5px;
}



#biTitle, #biContent, #submit, #cancle{
	font-family: 'omyu_pretty';
	width: 98%;
	margin: auto;
  	background-color: white;
  	border: 2px solid #999999;
  	border-radius:0.5em;
  	color: black;
  	font-size: 25px;
  	margin-bottom: 5px; 
}
#biTitle{
  	font-size: 25px;
}



.map_wrap{
	width: 25%;
	float: left;
}
.options{
	width: 100%;
	margin: auto;
	justify-content: center;
}

.options>input{
	padding: 1px 2px;
	width:48%;
}

.options>select{
	padding: 1px 2px;
	width:49%;
}

#biContent{
	height: 78%;
}

.buttons{
	text-align: right;
}

#biMeetingDat, #biMeetingTim, #biFdCategory, #biHeadCnt{
	font-family: 'omyu_pretty';
	background-color: white;
  	border: 2px solid #999999;
  	border-radius:0.5em;
  	color: black;
  	font-size: 20px;
  	margin-bottom: 5px; 	
}
textarea{
	height: 300px;
	resize: none;
}
#submit, #cancle{
	width: 10%;
	min-width: 60px;
}
#cancle:hover, #submit:hover{
	background-color: rgb(252,229,205);
  	border: 2px solid #FC522F;
  	color: #FC522F;
}