@charset "UTF-8";

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.form{
	display: grid;
	grid-template-areas:
		't t'
		'o o'
		'x x'
		'c c'
		'b1 b2';
	grid-template-columns: repeat(2, 1fr);
	column-gap: 0px;
	row-gap: 10px;
	align-content: center;
	align-items: stretch;
}

#biTitle{
	grid-area:t;
	
}
.options{
	grid-area: o;
}
.map_wrap{
	grid-area:x;
}
#biContent{
	grid-area:c;
}
#submit{
	grid-area:b1;
}
#cancle{
	grid-area:b2;
}

#biTitle, #biContent, #submit, #cancle{
	font-family: 'omyu_pretty';
	width: 60%;
	margin: auto;
  	background-color: white;
  	border: 2px solid #999999;
  	border-radius:0.5em;
  	color: black;
  	font-size: 25px;
}
#biTitle{
  	font-size: 25px;
}
.options{
	width: 60%;
	margin: auto;
	justify-content: center;
}
#biMeetingDat, #biMeetingTim, #biFdCategory, #biHeadCnt{
	font-family: 'omyu_pretty';
	width: 24%;
	background-color: white;
  	border: 2px solid #999999;
  	border-radius:0.5em;
  	color: black;
  	font-size: 20px;
}
textarea{
	height: 300px;
	resize: none;
}
#submit, #cancle{
	width: 10%;
	min-width: 60px;
}
#cancle:hover, #submit:hover{
	background-color: rgb(252,229,205);
  	border: 2px solid #FC522F;
  	color: #FC522F;
}