@charset "UTF-8";

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

.content {
	font-size: 25px;
	width: 100%;
}

.content .title {
	width: 80%;
	font-size: 35px;
	color: #FC522F;
	float: left;
	margin: 30px 50% 10px 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.content .category {
	padding: 5px 10px 5px 10px;
	background-color: #FC522F;
	border-radius: 10px;
	color: white;
	font-size: 18px;
	border: 1px solid #FC522F;
	margin-top: 35px;
	width: 80px;
	position: absolute;
	margin-left: 55%;
	font-weight: bolder;
	letter-spacing: 2px;
}

.content .time {
	text-align: left;
	padding: 20px 20px 20px 80px;
}

.content .innerContent {
	border: 1px solid gray;
	width: 90%;
	border-radius: 30px;
	text-align: left;
	margin: 0 auto;
	vertical-align: middle;
	font-size: 25px;
	padding: 15px;
}

.content .Btn {
	font-weight: bolder;
	font-family: 'omyu_pretty'; /* 버튼 글꼴 */
	width: 115px;
	height: 32px;
	background-color: #FC522F;
	border: 2px solid #FC522F;
	border-radius: 0.5em;
	color: #FFFFFF;
	padding: 2px 10px;
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
	margin-right: 10px;
	letter-spacing: 1px;
}

.content .Btn:hover:not(.ended) {
	/* .ended 클래스가 있는 버튼은 호버적용 x */
	background-color: #FFFFFF;
	color: #FC522F;
	cursor: pointer;
	/* 사이드바에 있는 애니메이션 shake 적용 */
	 transform-origin: 50% 0%;
      animation-name: shake;
      animation-duration: 1s;
      animation-iteration-count: infinite; /* 반복회수 무한 */
      animation-delay: 0.1s;
}

.content .userImages {
	height: 200px;
}

.content .userImages .participents {
	float: left;
	margin-top: 10px;
	margin-right: 100px;
	margin-left: 80px;
}

.content .userImages .userCount {
	font-weight: bold;
	text-align: left;
	margin-top: -17px;
}

.content .userImages .box {
	width: 70px;
	height: 70px;
	margin-top: 30px;
	float: left;
	cursor: pointer;
	margin-left: 60px;
	/* 트랜지션 = 변화에 대한 속성 */
	/* 너비와 높이 모두 트랜지션(점진적변화) 적용한다. */
	/* 0.3초 동안 빠르게 천천히 */
	transition:all 0.3s ease;
}
@keyframes swing {
	/* 위아래 스윙 효과 */
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.content .userImages .outterBox{
		transition:all 0.3s ease;
}
.content .userImages .outterBox:hover
{
    animation: swing 1s ease; /* ease = 천천 빠름 천천 */
    animation-iteration-count: 1;
}

.content .userImages .box .crown {
	width: 15px;
	height: 15px;
}

#makerBox {
	border: 3px solid #FC522F;
}


#makerNickName {
	color: #FC522F;
	font-weight: bolder;
	font-size: 18px;
}

#partyNickName {
	margin-left: 13px;
	font-size: 18px;
	text-align: center;
}

.content .userImages .box .nickName {
	position: absolute;
	margin-top: 10px;
	font-size: 15px;
	transition:all 0.3s ease;
	z-index: 10;
}

.content .container {
	
}

.content .container .commentList {
	
}

.content .container .commentList .commentBox {
	border: 1px solid darkgray;
	border-radius: 20px;
	width: 90%;
	font-size: 18px;
	height: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

@keyframes fadeInUp { 
	0% {
	opacity: 0;
	transform: translate3d(0, 100%, 0);
	}
	to {
	opacity: 1;
	transform: translateZ(0);
	}
}
.content .container .commentList .commentBox.fadeInUp:not(.end) {
	animation: fadeInUp 1s;
}

.content .container .commentBox .box {
	width: 45px;
	height: 45px;
	border-radius: 70%; /* 원 모양의 둘레 만들고 */
	border: 2px solid #BDBDBD; /* 테두리 두께, 스타일(solid=실선), 컬러 설정 */
	overflow: hidden; /* 넘치는 부분은 자르기 */
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.content .container .commentBox .box .profileImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	float: left;
	text-align: left;
}

#crown {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.content .container .commentBox .commentNickName {
	float: left;
	font-weight: bolder;
	margin-left: 75px;
	margin-top: 5px;
}

.content .container .commentBox .commentTime {
	float: left;
	margin-left: 80px;
	margin-top: 5px;
}

.content .container .commentBox .commentContent {
	float: left;
	padding: 5px;
	margin-left: 15px;
	font-size: 20px;
}

.content .container .commentBox .commentBtn {
	/* 댓글마다 수정 삭제 버튼 자리 고정 */
	position: absolute;
	padding-top: 10px;
	margin-left: 1000px;
	font-weight: bold;
	font-size: 16px;
}

.content .container .commentBox .commentBtn :hover {
	/* 각 버튼 마우스 오버시 텍스트 색 변경 */
	color: #FC522F;
	cursor: pointer;
}

.content .container .commentBox .commentBtn span {
	padding: 10px;
}

@keyframes vibration {
	/* 0.5도씩 좌우로 흔들리는 효과 정의 */ 
	from { 
	transform:rotate(0.5deg);
	}

	to {
		transform: rotate(-0.5deg);
	}
}

.content .container .commentInput {
	/* 댓글 입력 창 */
	margin-bottom: 3%;
	margin-top: 1%;
}

.content .container .commentInput.vibration {
	/* 댓글 내용 공란일 시 애니메이션 추가 */
	animation: vibration 0.1s infinite;
}

.content .container .commentInput .form-control {
	/* 댓글 작성 시 인풋 박스 속성 */
	border: 1px solid darkgray;
	width: 88%;
	height: 40px;
	border-radius: 15px;
	display: inline;
	padding-left: 20px;
}

.content .container .commentInput .commentBtn {
	/* 댓글 작성하기 버튼 */
	font-family: 'omyu_pretty'; /* 버튼 글꼴 */
	border: none;
	outline: none;
	display: inline block;
	background-color: white;
	font-weight: bolder;
	width: 70px;
	position: absolute;
	margin-top: 14px;
	margin-left: -100px;
	font-size: 15px;
}

.content .container .commentInput .commentBtn:hover {
	color: #FC522F;
	cursor: pointer;
}

#commentUpdate {
	/* 댓글 수정 시 인풋박스 속성*/
	font-family: 'omyu_pretty';
	margin-left: 15px;
	border: none;
	float: left;
	font-size: 20px;
	width: 85%;
	padding: 5px;
}

#commentUpdate:focus {
	/* 댓글 수정 시 포커스 속성*/
	outline: none;
}