@charset "UTF-8";

.content{
	min-height: 100%;
    margin: 0; 
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 110px minmax(0px, auto) 60px;
	grid-template-areas:
		's s'
		'c c'
		'b1 b2'
		'b3 b4';
}

#searchBabsang{
	grid-area:s;
}
#categoryBabsang{
	grid-area:c;
}

form{
	padding-top: 25px;
}
.inputBiTitle{
	width: 40%;
  	background-color: white;
  	border: 2px solid #999999;
  	border-radius:0.5em;
  	color: black;
  	font-weight: bolder;
  	padding: 8px 22px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
    
}
input::placeholder{
	font-size: 16px;
	color: #b7b7b7;
}

.buttonBiTitle {
  	background-color: white;
  	border: 2px solid #FC522F;
  	border-radius:0.5em;
  	color: #FC522F;
  	font-weight: bolder;
  	padding: 8px 22px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
}


.biFdCategory {
  	background-color: white;
  	border: 2px solid #999999;
  	border-radius:0.5em;
  	color: #FC522F;
  	font-weight: bolder;
  	padding: 8px 22px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
}

.biFdCategory:hover, .buttonBiTitle:hover{
  	background-color: #FC522F;
  	color: #FFFFFF;
  	border: 2px solid #FC522F;  
}
.babsang{
	border: 1px solid gray;
	width: 90%;
	height: 166px;
	border-radius: 30px;
	text-align: center;
	margin: 0 auto;
}
h3{
	margin: 10px auto;
}