@charset "UTF-8";
.content{
	margin-top: 50px;
	font-family: none;	
}
h1{
	font-family: 'omyu_pretty';
}
input{
	width: 244px;
	height: 22px;
	margin: 5px 0px;
	border-radius:0.3em;
	border: 1px solid gray;
}

input:focus{ /* 상자선택시 색변경 어근데 왜 라디오가 네모냐고 ㅋ */
	outline: none !important; 
	border-color: #FC522F; 
	box-shadow: 0 0 5px #FC522F;
} 

.uiPwd{
	width: 350px;
	height: 22px;
	margin: 5px 0px;
}

.uiPwdCheck{
	width: 350px;
	height: 22px;
	margin: 5px 0px;
}


.naverBnt {
	width: 135px;
	height: 40px;
	background-color: #FFFFFF;
	border: 0px solid #FFFFFF;
	border-radius:0.5em;
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
}

button>img {
	width:30px;
	vertical-align: -8px;
}

.kakaoBnt {
	width: 135px;
	height: 40px;
	background-color: #FFFFFF;
	border: 0px solid #FFFFFF;
	border-radius:0.5em;
	color: rgb(60,30,30);
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
}

.bnt {
	width: 100px;
	height: 30px;
	background-color: #FFFFFF;
	border: 2px solid #FC522F;
	border-radius:0.5em;
	color: #FC522F;
	font-weight: bolder;
	padding: 0px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;

}

.bnt:hover{
	background-color: #FC522F;
	color: #FFFFFF;
}

.selected {
	width: 100px;
	height: 30px;
	background-color: #c8c8c8;
	border: 2px solid #c8c8c8;
	border-radius:0.5em;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 0px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
	pointer-events: none;
}



.filebox .upload-name {
	width: 244px;
	height: 22px;
	margin: 5px 0px;
    display: inline-block; 
}

.filebox label {
    width: 53px;
	height: 26px;
	background-color: #FFFFFF;
	border: 2px solid #FC522F;
	border-radius:0.5em;
	color: #FC522F;
	font-weight: bolder;
	padding: 0px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	line-height: 26px;
	font-family: none;
}

.filebox label:hover{
	background-color: #FC522F;
	color: #FFFFFF;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

select{
	width: 358px;
	height: 22px;
	margin: 5px 0px;
}

select:focus{ /* 상자선택시 색변경 */
	outline: none !important; 
	border-color: #FC522F; 
	box-shadow: 0 0 5px #FC522F;
} 

.gender{
	width:15px;
	height: 22px;
	margin-left: 80px;
	vertical-align: -4px;
}

.joinBnt {
	width: 362px;
	height: 40px;
	background-color: #FC522F;
	border: 2px solid #FC522F;
	border-radius:0.5em;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 2px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
}

.joinBnt:hover{
	background-color: #FFFFFF;
	color: #FC522F;
} 