ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 100px;
	background: #FF6347;
	height: 100%;
	overflow: auto;
	position: fixed;
}

li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	color: #000;
	font-weight: bold;
}

li a:hover {
	background: #333;
	color: #fff;
}

li a.home {
	background: #333;
	color: #fff;
}
.login{
	margin-left: 120px;
}