@charset "UTF-8";
.info>.uiNickname{
	color: #FC522F;
	font-size: 35px;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.img > img{
	 float: left;
	 margin-top: 10px;
}

.content > .infoBox{
	float: left;
	height: 300px;
	width: 65%;
}

.info{
	float: left;
	text-align: left;
	margin-left: 10px;
	font-size: 20px;
}

.buttons {
	float: right;
	
} 

.updateBnt {
	font-family: 'omyu_pretty';
	width: 150px;
	height: 35px;
	background-color: #FC522F;
	border: 2px solid #FC522F;
	border-radius:0.5em;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 2px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
}

.updateBnt:hover{
	background-color: #FFFFFF;
	color: #FC522F;
} 

.withdrawBnt {
	font-family: 'omyu_pretty';
	width: 150px;
	height: 35px;
	background-color: #FFFFFF;
	border: 2px solid #FC522F;
	border-radius:0.5em;
	color: #FC522F;
	font-weight: bolder;
	padding: 2px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;;
	margin-top: 10px;
}

.withdrawBnt:hover{
	background-color: #FC522F;
	color: #FFFFFF;
}

.naverBnt {
	width: 175px;
	height: 40px;
	background-color: rgb(6,189,52);
	border: 2px solid rgb(6,189,52);
	border-radius:0.5em;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 2px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
}

.naverBnt>img{
	vertical-align: -9px;
}

button>img {
	width:30px;
}

.kakaoBnt {
	width: 175px;
	height: 40px;
	background-color: rgb(254,242,0);
	border: 2px solid rgb(254,242,0);
	border-radius:0.5em;
	color: rgb(60,30,30);
	font-weight: bolder;
	padding: 2px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
	line-height: 40px;
}

.kakaoBnt>img{
	vertical-align: -9px;
}

.hint{
	font-size: 13px;
}