<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.mannamatna.mapper.BabsangInfoMapper">

	<!-- 	기존 select 쿼리문
		<select id="selectBabsangList"
		resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
		SELECT BI_NUM, BI_TITLE, BI_CONTENT, BI_MEETINGDAT,
		BI_MEETINGTIM, BI_HEADCNT, BI_CREATEDAT, BI_FDCATEGORY,
		BI_CLOSED, UI_NUM FROM BABSANG_INFO
	</select> -->
	
	<select id= "selectBabsangList" 
		resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
		SELECT BI.*, UI.UI_NUM<!-- * -->
		FROM BABSANG_INFO BI INNER JOIN USER_INFO UI
		WHERE BI.UI_NUM = UI.UI_NUM
		<if test='biTitle != null and biTitle != ""'>
			AND BI.BI_TITLE LIKE CONCAT('%', #{biTitle}, '%')
		</if>
		<!-- 내용 검색기능, 필요 없다 판단하여 주석처리 
		<if test='biContent != null and biContent != ""'>
				AND BI_TITLE LIKE CONCAT('%', #{biContent}, '%')
		</if> -->
		<if test='biFdCategory != null and biFdCategory != ""'>
			AND BI.BI_FDCATEGORY LIKE CONCAT(#{biFdCategory})
		</if>
		<if test='biClosed != null and biClosed !=""'>
			AND BI.BI_CLOSED = #{biClosed} AND BI.BI_USERCNT IS NULL
		</if>
		<if test='biUserCnt != null and biUserCnt !=""'>
			AND BI.BI_USERCNT > #{biUserCnt}
		</if>
		ORDER BY BI.BI_NUM DESC
	</select>
	
	<!-- 밥상 상세 정보 -->
	<select id="selectBabsangInfo" parameterType="int" resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
		SELECT BI_NUM, BI_TITLE, BI_CONTENT, BI_MEETINGDAT, BI_MEETINGTIM, 
		BI_HEADCNT, BI_CREATEDAT, BI_FDCATEGORY, BI_CLOSED, UI_NUM, BI_USERCNT , LAT, LNG
		FROM BABSANG_INFO 
		WHERE BI_NUM = #{biNum}
	</select>
	<select id="selectBabsangInfoOpened" resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
		SELECT * FROM BABSANG_INFO WHERE BI_CLOSED = #{biClosed}
	</select>
	<!-- 밥상 생성 -->
	<insert id="insertBabsangInfo">
		INSERT INTO BABSANG_INFO(
		BI_TITLE, BI_CONTENT, BI_MEETINGDAT, BI_MEETINGTIM, 
		BI_HEADCNT, BI_FDCATEGORY, BI_CLOSED, UI_NUM , LAT, LNG)
		VALUES(
		#{biTitle}, #{biContent}, #{biMeetingDat}, #{biMeetingTim}, 
		#{biHeadCnt}, #{biFdCategory}, #{biClosed}, #{uiNum}, #{lat}, #{lng}
		<!-- 마지막에 auto increase 된 넘버 불러오는 mysql 메소드 -->
		<selectKey resultType="int" keyProperty="uiBiNum" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
		)
	</insert>
	
	<!-- 밥상 삭제 -->
	<delete id="deleteBabsangInfo">
		DELETE FROM BABSANG_INFO
		WHERE BI_NUM = #{biNum}
	</delete>
	<update id="updateBiClosed">
	<!-- 마감하기를 누르면 해당밥상의 BI_NUM으로 BI_CLOSED 를 업데이트한다.  -->
	UPDATE BABSANG_INFO SET BI_CLOSED = #{biClosed} WHERE BI_NUM = #{biNum}
	</update>
	<update id="updateBiUserCnt">
	<!-- 해당밥상을 방장이 맛남완료를 누르게되면 밥상정보에 참가회원수가 업데이트된다. -->
	UPDATE BABSANG_INFO SET BI_USERCNT = #{biUserCnt} WHERE BI_NUM = #{biNum}
	</update>
	<select id ="selectBiCnt" resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
	<!-- 밥상이 마감된 상태인 밥상중에 맛남완료시 인원수가 NULL이 아닌 객체의 수를 조회한다. -->
	SELECT COUNT(*) BI_CNT FROM BABSANG_INFO WHERE BI_CLOSED = 1 AND BI_USERCNT IS NOT NULL;
	</select>
</mapper>