<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.mannamatna.mapper.BabsangInfoMapper">

	<!-- 아래는 테스트 중 입니다 -->
	<!-- 임시 id명 "selectBabsangUserJoin" -->
	<select id= "selectBabsangList" 
		resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
		SELECT * FROM BABSANG_INFO BI INNER JOIN USER_INFO UI
		WHERE BI.UI_NUM = UI.UI_NUM
		ORDER BY BI.BI_NUM ASC;
		<!-- 나중에 내림차순(생성 순)으로 바꿔야함 -->
	</select>
	
	<update id="">
		밥상이 생기고 나서 update해야할까...
	</update>

<!-- 	기존 select 쿼리문
		<select id="selectBabsangList"
		resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
		SELECT BI_NUM, BI_TITLE, BI_CONTENT, BI_MEETINGDAT,
		BI_MEETINGTIM, BI_HEADCNT, BI_CREATEDAT, BI_FDCATEGORY,
		BI_CLOSED, UI_NUM FROM BABSANG_INFO
	</select> -->
	
	<select id="selectBabsangInfo" parameterType="int" resultType="com.ezen.mannamatna.vo.BabsangInfoVO">
		SELECT BI_NUM, BI_TITLE, BI_CONTENT, BI_MEETINGDAT,
		BI_HEADCNT, BI_CREATEDAT, BI_FDCATEGORY, BI_CLOSED,
		UI_NUM FROM BABSANG_INFO WHERE BI_NUM = #{biNum}
	</select>
	
	<insert id="insertBabsangInfo">
		INSERT INTO BABSANG_INFO(
		BI_TITLE, BI_CONTENT, BI_MEETINGDAT, BI_MEETINGTIM, 
		BI_HEADCNT, BI_FDCATEGORY, BI_CLOSED, UI_NUM)
		VALUES(
		#{biTitle}, #{biContent}, #{biMeetingDat}, #{biMeetingTim}, 
		#{biHeadCnt}, #{biFdCategory}, #{biClosed}, #{uiNum}
		<!-- 마지막에 auto increase 된 넘버 불러오는 mysql 메소드 -->
		<selectKey resultType="int" keyProperty="biNum" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
		)
	</insert>
	
	<delete id="deleteBabsangInfo">
		DELETE FROM BABSANG_INFO
		WHERE BI_NUM = #{biNum}
	</delete>
	
	
</mapper>