<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.mannamatna.mapper.CommentInfoMapper">
	<select id="countCommentInfo" resultType="int">
		SELECT COUNT(*) FROM
		COMMENT_INFO
	</select>
	<select id="selectCommentInfos" parameterType="int"
		resultType="com.ezen.mannamatna.vo.CommentInfoVO">
		SELECT u.UI_FILEPATH, u.UI_NICKNAME, c.CI_CONTENT, c.CI_CREDAT, 
		c.CI_CRETIM, c.BI_NUM FROM COMMENT_INFO c 
		JOIN USER_INFO u ON c.UI_NUM = u.UI_NUM WHERE c.BI_NUM = #{biNum}
	</select>
	<insert id="insertCommentInfo"
		parameterType="com.ezen.mannamatna.vo.CommentInfoVO">
		INSERT INTO COMMENT_INFO (CI_NUM, CI_CONTENT, CI_CREDAT,
		CI_CRETIM, UI_NUM, BI_NUM) VALUES
		(#{ciNum}, #{ciContent}, DEFAULT,
		DEFAULT, #{uiNum}, #{biNum})
	</insert>
	<update id="updateCommentInfo" parameterType ="com.ezen.mannamatna.vo.CommentInfoVO">
		UPDATE COMMENT_INFO SET CI_CONTENT = #{ciContent} WHERE
		CI_NUM = #{ciNum}
	</update>
	<delete id="deleteCommentInfo" parameterType="int">
		DELETE FROM
		COMMENT_INFO WHERE CI_NUM = #{ciNum}
	</delete>
</mapper>