<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.mannamatna.mapper.UserInfoMapper">
	<select id="selectUserInfo" resultType="com.ezen.mannamatna.vo.UserInfoVO">
		select * from user_info where ui_Id = #{uiId}
	</select>
	
	<select id="selectKakaoUserInfo" resultType="com.ezen.mannamatna.vo.UserInfoVO">
		select * from kakao_user_info where kui_Id = #{kuiId}
	</select>
	
	<select id="idChk" resultType="int">
		select count(*) from user_info where ui_Id = #{uiId}
	</select>
	
	<select id="nicknameChk" resultType="int">
		select count(*) from user_info where ui_Nickname = #{uiNickname}
	</select>
	
	<insert id="insertUserInfo"> 
		insert into user_info (ui_nickname,ui_pwd,ui_filepath,ui_gender,ui_age,ui_id)
		values (#{uiNickname},#{uiPwd},#{uiFilepath},#{uiGender},#{uiAge},#{uiId})
	</insert>
	
	<update id="updateUserInfo">
		update user_info set ui_nickname = #{uiNickname}, ui_pwd = #{uiPwd}, ui_filepath = #{uiFilepath}
		where ui_num = #{uiNum}
	</update>
	
	<delete id="deleteUserInfo">
		delete from user_info where ui_num = #{uiNum}
	</delete>
	
	<!-- userInfo.biNum 업데이트문 -->
	<update id="updateUiBiNum">
		update user_info set bi_num = #{biNum} where ui_num = #{uiNum}
	</update>
	
</mapper>